@model IEnumerable<prjMVCDemo.tProduct>

@{
    ViewBag.Title = "購物商城";
}

<h2>購物商城</h2>
<p>
    @Html.ActionLink("檢視購物車", "ShoppingCar", "Shopping", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            產品圖片
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th></th>
    </tr>

    @{
        int count = 0;

        foreach (var item in Model)
        {
            count++;
        <tr>
            <td>
                @count
            </td>
            <th>
                <img src="~/Image/@item.fImagePath" width="200" height="230" />
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fPrice)
            </td>
            <td>
                @Html.ActionLink("加入購物車", "AddToCar", new { id = item.fId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("加入Session", "AddToSession", new { id = item.fId }, new { @class = "btn btn-primary" })

            </td>
        </tr>
        }
    }

</table>
